<h1>{{book.title}}</h1>

<button (click)="orderBook()">Order Book</button>

<img [src]="book.imageUrl"/>
<dl>
    <dt>Authors</dt><dd>{{book.authors}}</dd>
    <dt>Publisher</dt><dd>{{book.publisher}}</dd>
    <dt>Publication Year</dt><dd>{{book.publicationYear}}</dd>
    <dt>Price</dt><dd>{{book.price}}</dd>
    <dt>Binding</dt><dd>{{book.binding}}</dd>
    <dt>Number of pages</dt><dd>{{book.numberOfPages}}</dd>
    <dt>ISBN</dt><dd>{{book.isbn}}</dd>
    <dt>Description</dt><dd>{{book.description}}</dd>
</dl>
